{% extends "base.html" %} {% block title %}Home{% endblock title %}
<div>{% block content %}</div>

<section
  class="flex-grow flex items-center justify-center px-4"
  style="height: 100%; min-height: 600px"
>
  <div class="text-center space-y-4 max-w-lg">
    <h1 class="text-3xl font-bold text-gray-800">
      Your Personal AI Interview Coach
    </h1>
    <p class="text-lg text-gray-700">
      Practice smarter with personalized questions, 10 at a time.
    </p>
    {% if user.is_authenticated %}
    <a href="{% url 'application_upload' %}">
      <button
        style="background-color: #f96e2a; width: 200px; margin-top: 48px"
        class="btn text-white"
      >
        Get Started
      </button></a
    >
    {% else %}
    <a href="{% url 'login' %}">
      <button
        style="background-color: #f96e2a; width: 200px; margin-top: 48px"
        class="btn text-white"
      >
        Get Started
      </button></a
    >
    {% endif %}
  </div>
</section>
<section
  class="flex flex-col md:flex-row items-center justify-between px-8 py-16 bg-base-100"
>
  <div
    style="margin-left: 40px"
    class="space-y-4 text-gray-700"
    style="height: 100%; min-height: 500px"
  >
    <p>
      InterPrep is your personal interview coach — here to help you land your
      dream job.
    </p>
    <p>
      Upload your resume, choose your role, and practice with smart, structured
      questions tailored just for you.
    </p>
  </div>
</section>
<!-- Feature Section -->
<footer class="text-center py-4 bg-white text-sm text-gray-500">
  © 2025 Designed by Jisu Kim
</footer>
{% endblock %}
